# 将依赖提升到 node_modules 的根目录，模拟 npm 和 yarn 的行为，解决一些工具不兼容 pnpm 符号链接结构的问题
shamefully-hoist=true
# 关闭严格的对等依赖检查，避免因对等依赖缺失或版本不匹配导致安装失败
strict-peer-dependencies=false
# 启用 shell 模拟器，这可能是一个特定于某个工具的非标准配置
shell-emulator=true
# 关闭包管理器严格模式，这可能是一个特定于某个工具的非标准配置
package-manager-strict=false

# 关键参数 在执行 pnpm install 时，将工作区中的包链接到 node_modules，这是 pnpm workspace 的默认行为
link-workspace-packages=true