@use 'common/var' as *;
@use 'mixins/minixs' as *;

@include b('button') {
  display: inline-flex;
  outline: none;
  cursor: pointer;
  border: #fafafa;
  border-radius: 5px;
  user-select: none;
  min-height: 40px;
  line-height: 1;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  gap: 8px;

  @include m('small') {
    padding: 0 18px;
  }
  @include m('medium') {
    padding: 0 20px;
  }
  @include m('large') {
    padding: 0 24px;
  }
  @include m('primary') {
    @include button-variant($color-white, $color-primary, $color-primary);
  }
  @include m('success') {
    @include button-variant($color-white, $color-success, $color-success);
  }
  @include m('danger') {
    @include button-variant($color-white, $color-danger, $color-danger);
  }
  @include m('warning') {
    @include button-variant($color-white, $color-warning, $color-warning);
  }
  @include m('info') {
    @include button-variant($color-white, $color-info, $color-info);
  }
  @include is('disabled') {
    &,
    &:hover,
    &:focus {
      cursor: not-allowed;
    }
  }
  @include is('round') {
    border-radius: 20px;
  }
}
